PORT=3000
NODE_ENV=development
JWT_SECRET=super_secret_change_me
JWT_EXPIRES_IN=7d

DB_HOST=localhost
DB_PORT=3306
DB_NAME=ticket_db
DB_USER=root
DB_PASSWORD=
DB_SYNC_ON_START=true

SEAT_HOLD_MINUTES=10
