PORT=3000
NODE_ENV=development
JWT_SECRET=super_secret_change_me
JWT_EXPIRES_IN=7d

DB_HOST=localhost
DB_PORT=3306
DB_NAME=ticket_db
DB_USER=root
DB_PASSWORD=
DB_SYNC_ON_START=true

SEAT_HOLD_MINUTES=10

# MOMO PAYMENT
MOMO_PARTNER_CODE=MOMOBKUN20180529
MOMO_ACCESS_KEY=klm05nuayShadow
MOMO_SECRET_KEY=at67qH6mk8w5Y1n71y_Su791G6m9_
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create
MOMO_REDIRECT_URL=http://localhost:5173/payment-result
MOMO_IPN_URL=http://your-domain.com/api/bookings/momo-callback
